@model StarSecurity.Entites.Warranty
@{
    ViewData["Title"] = "DetailWarranty";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h3>Name: @Model.Name</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><h4>Email: <a href="mailto:@Model.Email">@Model.Email</a></h4></div>
                        <div class="col-md-6"><h4>Phone: <a href="tel:@Model.Phone">@Model.Phone</a></h4></div>
                    </div>
                    <div class="row">
                        <h4>Address: @Model.Address</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><h4>Product: @Model.ProductId</h4></div>
                        <div class="col-md-4"><h4>Price: @String.Format("{0:0,00}", @Model.Price) <sup>vnd</sup></h4></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @if (Model.TimeWarranty > DateTime.Now)
                            {
                                <h4 class="text-success">TimeWarranty: @Model.TimeWarranty</h4>
                            }
                            else
                            {
                                <h4 class="text-danger">TimeWarranty: @Model.TimeWarranty</h4>
                            }
                            
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <br />
                    <div>
                        <h4>Description:</h4>
                        <blockquote class="blockquote">
                            @Html.Raw(@Model.Description)
                        </blockquote>
                    </div>

                    <div>
                        <a href="~/Admin/Warranty/EditWarranty?id=@Model.Id" class="btn btn-dark btn-icon-text">
                            Edit
                            <i class="ti-file btn-icon-append"></i>
                        </a>
                        <a href="~/Admin/Warranty/ListWarranty" class="btn btn-danger btn-icon-text">Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

