@model IEnumerable<StarSecurity.Entites.Recruitment>
@{
    ViewData["Title"] = "Recruitment";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">List Recruitment</h4>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Vacancies</th>
                                    <th>Quantity</th>
                                    <th>TimeEnd</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.Vacancies</td>
                                    <td class="text-danger">@item.Count</td>
                                        @if (item.TimeEnd > DateTime.Now)
                                        {
                                            <td><label class="badge badge-success">@item.TimeEnd</label></td>
                                        }
                                        else
                                        {
                                            <td><label class="badge badge-danger">@item.TimeEnd</label></td>
                                        }
                                    
                                    <td>
                                            <a href="~/Admin/Recruitment/DetailRecruitment?id=@item.Id" class="btn btn-inverse-info btn-rounded btn-icon"><i class="mdi mdi-eye"></i></a>
                                            <a href="~/Admin/Recruitment/EditRecruitment?id=@item.Id" class="btn btn-inverse-primary btn-rounded btn-icon"><i class="mdi mdi-settings "></i></a>
                                            <a href="#" onclick="if(confirm('You definitely delete?') == true){ location.href = '/Admin/Recruitment/DeleteRecruitment?id=@item.Id' }" class="btn btn-inverse-danger btn-rounded btn-icon"><i class="mdi mdi-delete-forever"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

