@model StarSecurity.Entites.EmployeeDetail
@{
    ViewData["Title"] = "DetailEmployee";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="my-profile row">
                        <div class="col-lg-3 left">

                            <div class="avatar">
                                <img src="~/upload/employee/@Model.Employee.Avatar" alt="Avatar" />
                            </div>
                            <div class="my-info text-center">
                                <h2>@Model.Employee.Name</h2>
                                <p>@Model.Employee.Dob</p>
                                @if (Model.Employee.Gender == "0")
                                {
                                    <p>Male</p>
                                }
                                else
                                {
                                    <p>Female</p>
                                }
                                <p>@Model.Employee.Address</p>
                            </div>
                        </div>
                        <div class="col-lg-9 right">
                            <div>Employee Code: <span>@Model.Employee.EmployeeCode</span></div>
                            <div>Educational Qualification: <span>@Model.Employee.EduQualifi</span></div>
                            <div class="row">
                                <div class="col-md-6">
                                    Email: <span><a href="mailto:@Model.Employee.Email">@Model.Employee.Email</a></span>
                                </div>
                                <div class="col-md-6">
                                    Phone: <span><a href="tel:@Model.Employee.Phone">@Model.Employee.Phone</a></span>
                                </div>
                            </div>
                            <div>Grade: <span>@Model.Employee.Grade</span></div>
                            <div class="row">
                                <div class="col-md-6">
                                    Dempartment: <span>@Model.Employee.ServiceId</span>
                                </div>
                                <div class="col-md-6">
                                    Role: <span>@Model.Employee.RoleCode</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Achievements:
                                </div>
                                <div class="col-md-9">
                                    @Html.Raw(Model.Employee.Achievements)
                                </div>
                            </div>
                            @*<div>Status: <span class="badge badge-success">@Model.Status</span></div>*@
                            <div class="row">
                                <h4>Task:</h4>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Name of client</th>
                                                <th>Time</th>
                                                <th>Status</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach(var item in Model.Tasks){
                                                <tr>
                                                    <td>@item.ClientId</td>
                                                    <td>@item.CreatedDate</td>
                                                    <td>
                                                        @if (item.Status == 1){
                                                            <label class="badge badge-danger">Waitting</label>
                                                        }else {
                                                            <label class="badge badge-success">Processed</label>
                                                        }
                                                    </td>
                                                    <td>@Html.Raw(item.Description)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

