@model StarSecurity.Entites.Department
@{
    ViewData["Title"] = "DetailDepartment";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="~/upload/department/@Model.Image" alt="Image" width="500" />
                        </div>
                        <div class="col-md-6">
                            <h3>Service: @Model.Name</h3>
                            <h4>Summary: @Model.Summary</h4>
                        </div>
                    </div>
                    <br />
                    <div>
                        <h4>Description:</h4>
                        <blockquote class="blockquote">
                            @Html.Raw(Model.Description)
                        </blockquote>
                    </div>
                    <h6>Created By: @Model.CreateBy</h6>
                    <h6>Created Date: @Model.CreatedDate</h6>
                    <h6>Update By: @Model.UpdateBy</h6>
                    <h6>Update Date: @Model.UpdatedDate</h6>

                    <div>
                        <a href="~/Admin/Department/EditDepartment?id=@Model.Id" class="btn btn-dark btn-icon-text">
                            Edit
                            <i class="ti-file btn-icon-append"></i>
                        </a>
                        <a href="~/Admin/Department/ListDepartment" class="btn btn-danger btn-icon-text">Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

