@model StarSecurity.Entites.Contact
@{
    ViewData["Title"] = "DetailContact";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4>Name: @Model.Name</h4>
                    <div class="row">
                        <div class="col-md-6"><h4>Email: <a href="mailto:@Model.Email">@Model.Email</a></h4></div>
                        <div class="col-md-6"><h4>Phone: <a href="tel:@Model.Phone">@Model.Phone</a></h4></div>
                    </div>
                    <h4>Address: @Model.Address</h4>
                    <br />
                    <h4>Date time: @Model.CreatedDate</h4>
                    <br />
                    <div>
                        <h4>Message:</h4>
                        <blockquote class="blockquote">
                            @Model.Message
                        </blockquote>
                    </div>

                    <div>
                        <a href="~/Admin/Contact/ListContact" class="btn btn-danger btn-icon-text">Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

