@model IEnumerable<StarSecurity.Entites.Recruitment>
@{
    ViewData["Title"] = "Careers with us";
}

<div id="ob" class="news-wrapper container">
    <div class="title">
        <p>Careers with us</p>
    </div>
        <h4 style="text-align: center;">@ViewBag.error</h4>
        @foreach (var item in Model)
        {
            <div class="news-item">
                <div class="news-image"><img src="~/upload/recruitment/@item.Image" alt="Image"></div>
                <div class="news-content">
                    <div class="content">
                        <div class="title">
                            <p>@item.Title</p>
                        </div>
                        <p>
                            @item.Summary
                        </p>
                        <p>
                        Vacancies: @item.Vacancies
                        </p>
                    <p>
                        Count: @item.Count
                    </p>
                    </div>
                    <div class="link">
                        <a href="~/Careers/Detail?id=@item.Id">More info</a>
                    </div>
                </div>
            </div>
        }
</div>