@model IEnumerable<StarSecurity.Entites.Task>
@{
    ViewData["Title"] = "Task";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Task List</h4>
                    <form action="" class="form-sample" method="get">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <select class="form-control" name="status">
                                    <option value="0">Status</option>
                                    <option value="1">Waitting</option>
                                    <option value="2">Processed</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <button type="submit" class="btn-sm btn-primary me-2">
                                    <i class="mdi mdi-filter"></i>
                                    Filter
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name of client</th>
                                    <th>Staff assigned</th>
                                    <th>Services availed</th>
                                    <th>Time start</th>
                                    <th>Status</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                        <td>@item.ClientId</td>
                                        <td>@item.EmployeeId</td>
                                        <td>@item.ServiceId</td>
                                        <td>@item.CreatedDate</td>
                                        @if (@item.Status == 1)
                                        {
                                            <td><label class="badge badge-success">Waitting</label></td>
                                        }
                                        else if (@item.Status == 2)
                                        {
                                            <td><label class="badge badge-danger">Processed</label></td>
                                        }
                                    
                                    <td>
                                            <a href="~/Admin/Task/DetailTask?id=@item.Id" class="btn btn-inverse-info btn-rounded btn-icon"><i class="mdi mdi-eye"></i></a>
                                            <a href="~/Admin/Task/EditTask?id=@item.Id" class="btn btn-inverse-primary btn-rounded btn-icon"><i class="mdi mdi-settings "></i></a>
                                            <a href="~/Admin/Task/DeleteTask?id=@item.Id" class="btn btn-inverse-danger btn-rounded btn-icon"><i class="mdi mdi-delete-forever"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

